
body{
  margin:0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  float: left;
  border-radius: 10px ;
  font-weight : bold;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,.view {
  background-color: #111;
  border-radius: 10px;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  z-index:999;
  padding:4rem;
  position: fixed;
  text-align:center;
  top:70%;
  font-family: monospace;
  transform:translate(-50%, -50%);
}

.credit {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
}
.center {
  top: 50%;
  padding: 10px;
  line-height: 30px;
  height: 200px;
  text-align: center;
}

.center p {
  line-height:1.5;
  display: inline-block;
  vertical-align: middle;
}
.slideshow-container{
  display:flex;
justify-content:center;
  align-items:center;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
